*{
    margin: 0;
    box-sizing: border-box;
}

.usario {
    width: 7.5rem;
    border-radius: 4rem;
    margin: 0.8rem;
}

.Body {
    background-color: lightblue;
    display: flex;
    max-width: 1444px;
    min-width: 374px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.caja {
    background-color: whitesmoke;
    width: 28rem;
    height: 30rem;
    border-radius: 7rem;
}

.botones {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0.8rem;
    cursor: pointer;
    gap: 0.9rem;
    margin-bottom: 5.8rem;
}

button {
    border-radius: 5px;
    text-decoration: none;
    background-color: lightblue;
    font-size: 16px;
    width: 26.2rem;
    cursor: pointer;
}

a {
    text-decoration: none;
}

button:hover {
    background-color: chartreuse;
}

.red {
    background-color: beige;
}

.subtitulo {
    margin-bottom: 0.9rem;
    color: rgb(129, 180, 27);
}

html {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}
